header {
background-color: #222222;
height: 500px;
}
.menu {
color: #ffffff;
     display: flex;
    flex-wrap: wrap;

}

.logo {
   display: flex;
    padding-top: 40px;
    padding-left: 100px;

}

.site-menu {
  display: flex;
    flex-wrap: wrap;
    margin-left: 7px;   
}

.site-menu1 { 
margin-left: 300px;
padding: ;
    list-style: none;
     display: flex;
    flex-wrap: wrap;
    margin-top: 20px


}

.site-menu1 li{
    padding: 10px;
    margin-top: 20px;
}
.site-menu li {
    margin-left: 20px;
    list-style: none;
    color:#d4d4d4;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin-top: 50px;
}
h1 {
    color: #ffffff;
}

